{
  "extends": ["@open-wc/eslint-config", "eslint-config-prettier"],
  "plugins": ["eslint-plugin-prettier"],
  "parser": "babel-eslint",
  "rules": {
    "object-curly-newline": "off",
    "no-console": "warn",
    "arrow-parens": "off"
  },
  "ignorePatterns": "*.d.ts"
}
