{
  "extends": ["@open-wc/eslint-config", "eslint-config-prettier"],
  "plugins": ["eslint-plugin-prettier"],
  "parser": "@babel/eslint-parser",
  "overrides": [
    {
      "files": ["*.test.js"],
      "rules": {
        "import/no-extraneous-dependencies": "off",
        "import/no-unresolved": "warn"
      }
    }
  ]
}
