@use '../base-motion-tokens';

@mixin get-transition-duration($duration) {
  @if str-index($duration, 'slow') {
    $duration: base-motion-tokens.$transition-duration-slow;
  } @else if str-index($duration, 'medium') {
    $duration: base-motion-tokens.$transition-duration-medium;
  } @else if str-index($duration, 'fast') {
    $duration: base-motion-tokens.$transition-duration-fast;
  } @else {
    @error '#{$duration} is not valid';
  }

  transition-duration: $duration;
}

@mixin get-transition-function($function) {
  @if str-index($function, 'soft') {
    $function: base-motion-tokens.$transition-function-soft;
  } @else if str-index($function, 'calm') {
    $function: base-motion-tokens.$transition-function-calm;
  } @else if str-index($function, 'energic') {
    $function: base-motion-tokens.$transition-function-energic;
  } @else {
    @error '#{$function} is not valid';
  }

  transition-timing-function: $function;
}

@mixin get-transition-type($type) {
  @if $type == 'fade' {
    @include base-motion-tokens.transition-type-fade();
  } @else if $type == 'spin' {
    @include base-motion-tokens.transition-type-spin();
  } @else if str-index($type, 'scale') {
    @include base-motion-tokens.transition-type-scale($type);
  } @else {
    @error '#{$type} is not valid';
  }
}
