@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@mixin multiple-selectors($base, $selectors) {
  @if not str-index($base, '%sel%') {
    @error 'base is invalid';
  }

  @each $selector in $selectors {
    $transformed-selector: str-replace($base, '%sel%', $selector);
    $selectors: set-nth($selectors, index($selectors, $selector), $transformed-selector);
  }

  // to make sure the list will be comma-separated
  $selectors: join($selectors, (), comma);

  #{$selectors} {
    @content;
  }
}
