$transition-duration-slow: 0.275s;
$transition-duration-medium: 0.225s;
$transition-duration-fast: 0.2s;

$transition-function-soft: cubic-bezier(0.48, 0, 0.48, 1);
$transition-function-calm: cubic-bezier(0.64, 0, 0.92, 1);
$transition-function-energic: cubic-bezier(0.08, 0, 0.35, 1);

@mixin transition-type-fade {
  background-color: #fff;
}
@mixin transition-type-spin {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}
@mixin transition-type-scale($p) {
  $scale: 0;

  @if str-index($p, '05') {
    $scale: 1.05;
  } @else if str-index($p, '20') {
    $scale: 1.2;
  } @else if str-index($p, '25') {
    $scale: 1.25;
  } @else if str-index($p, '50') {
    $scale: 1.5;
  } @else {
    @error '#{$p} is not valid';
  }

  transform: scale($scale);
  -webkit-transform: scale($scale);
  -moz-transform: scale($scale);
  -ms-transform: scale($scale);
  -o-transform: scale($scale);
}
