// DEVELOP
$durations: 'slow', 'medium', 'fast';
$vibes: 'soft', 'calm', 'energic';
$types: 'switch', 'rotation-tilt', 'rotation-flip', 'rotation-roll', 'expand-small', 'expand-medium', 'expand-large';

$triggers: ':hover', ':active', ':focus';
